[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyautogui = "*"
pillow = "*"
requests = "*"
easyocr = "*"

[dev-packages]

[requires]
python_version = "3.12"
